<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>미니 프로젝트</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.0/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.0/js/bootstrap.min.js"></script>
</head>
<body>
<!--상단 메뉴-->
<nav th:replace="~{/template/fragment/menu :: menu}"></nav>


<!-- 회원 리스트 -->
<div class="container" style="margin-top:100px">
  <div class="card">
    <div class="card-body">
      <h4 class="card-title font-italic">StudyBoard</h4>
      <table class="table table-hover" id='member_list'>
        <thead>
        <tr>
          <th class="text-center d-none d-md-table-cell">회원번호</th>
          <th class="w-50">회원 아이디</th>
          <th class="text-center d-none d-md-table-cell">회원 이름</th>
          <th class="text-center d-none d-md-table-cell">전화번호</th>
          <th class="text-center d-none d-md-table-cell">이메일</th>
          <th class="text-center d-none d-md-table-cell">가입날짜</th>
          <th class="text-center d-none d-md-table-cell">수정날짜</th>
          <th class="text-center d-none d-md-table-cell">알게된 경로</th>
        </tr>
        </thead>
        <tbody>
        <div th:if="${allMember.size()==0}">
          <h4 class="font-italic">회원가입자가 없습니다.</h4>
        </div>
        <div th:if="${allMember.size()!=0 }" th:each="member : ${allMember}">
          <tr>
            <td class="text-center d-none d-md-table-cell" th:text="${member.id}">회원번호</td>
            <td><a th:href="@{/admin/read/{memberId}(memberId=${member.id})}" th:text="${member.userId}">아이디</a></td>
            <td class="text-center d-none d-md-table-cell" th:text="${member.tel}">회원 이름</td>
            <td class="text-center d-none d-md-table-cell" th:text="${member.tel}">전화 번호</td>
            <th class="text-center d-none d-md-table-cell" th:text="${member.email}">이메일</th>
            <th class="text-center d-none d-md-table-cell" th:text="${member.createdDate}">작성날짜</th>
            <th class="text-center d-none d-md-table-cell" th:text="${member.updatedDate}">수정날짜</th>
            <th class="text-center d-none d-md-table-cell" th:text="${member.root}">알게된 경로</th>
          </tr>
        </div>
        </tbody>
      </table>

      <div class="d-none d-md-block">
        <ul class="pagination justify-content-center">
          <th:block th:if="${page.isExistPrevPage()}">
            <li class="page-item">
              <a th:href="@{/admin/member(pageNum=${page.startPage-11})}" class="page-link">이전</a>
            </li>
          </th:block>
          <th:block th:unless="${page.isExistPrevPage()}">
            <li class="page-item">
              <a th:disabled="true" class="page-link">이전</a>
            </li>
          </th:block>

          <th:block th:each="pageNum:${#numbers.sequence(page.startPage,page.endPage)}">
            <li class="page-item">
              <a th:href="@{/admin/member(pageNum=${pageNum}-1)}" th:text="${pageNum}" class="page-link">1</a>
            </li>
          </th:block>
          <th:block th:if="${page.isExistNextPage()}">
            <li class="page-item">
              <a th:href="@{/admin/member(pageNum=${page.startPage+9})}" class="page-link">다음</a>
            </li>
          </th:block>
          <th:block th:unless="${page.isExistNextPage()}">
            <li class="page-item">
              <a th:disabled="true" class="page-link">다음</a>
            </li>
          </th:block>
        </ul>
      </div>
    </div>
  </div>
</div>

<!--하단-->
<div th:replace="~{/template/fragment/bottom :: bottom}"></div>
</body>
</html>






