<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<title>미니 프로젝트</title>
	<style>

		.field-error {
			border-color: #dc3545;
			color: #dc3545;
		}

		.btn-danger{
			width: 40px;
			height: 30px;
		}

	</style>

	<!-- Bootstrap CDN -->
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.0/umd/popper.min.js"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.0/js/bootstrap.min.js"></script>


	<script th:inline="javascript" type="text/javascript">
		let boardId = [[${boardUpdateDTO.id}]];



		function removeFile(id){
			$("#remove" + id ).attr("disabled",true);
			$('#' + id).attr("disabled",true);
		}


	</script>


</head>
<body>

<nav th:replace="~{/template/fragment/menu :: menu}"></nav>


<div class="container" style="margin-top:100px">
	<div class="row">
		<div class="col-sm-3"></div>
		<div class="col-sm-6">
			<div class="card shadow">
				<div class="card-body">
					<form th:action th:object="${boardUpdateDTO}" method="post" enctype="multipart/form-data">
						<div class="form-group">
							<label for="writer">작성자</label>
							<input type="text" id="writer" th:field="*{writer}" class="form-control"  th:readonly="true"/>
						</div>
						<div class="form-group">
							<label for="subject">제목</label>
							<input type="text" id="subject" th:field="*{subject}" class="form-control" value="제목입니다" th:errorclass="field-error"/>
							<div class="field-error" th:errors="*{subject}">
								제목오류
							</div>
						</div>
						<div class="form-group">
							<label for="boardContent">내용</label>
							<textarea id="boardContent" th:field="*{boardContent}" class="form-control" rows="10" style="resize:none" th:errorclass="field-error">본문입니다</textarea>
							<div class="field-error" th:errors="*{boardContent}">
								내용오류
							</div>
						</div>
						<div class="form-group">
							<label for="files">첨부 파일</label>
							<input type="file" id="files" name="files" multiple="multiple" class="form-control" accept="image/*"/>
						</div>
						<div class="form-group">
							<div>
								<div th:if="${boardUpdateDTO.getFileDTO().size() > 0}" th:each="file : ${boardUpdateDTO.getFileDTO()}">
									<div>첨부파일<a th:href="|/file/download/${file.uploadFilename}/${file.serverFilename}|" th:text="${file.uploadFilename}">파일이름</a>
										<input type="hidden" th:id="${file.id}" name="removeFiles" th:value="${file.id}">
										<button class="btn btn-danger" th:id="|remove${file.id}|" th:onclick="|javascript:removeFile(${file.id})|">X</button></div>
								</div>
							</div>
						</div>
						<div class="form-group">
							<div class="text-right">
								<button type="submit"  class="btn btn-primary">수정완료</button>
								<a href="board_read.html" th:href="@{/board/read/{boardId}/{memberId}(boardId=${boardUpdateDTO.id} ,memberId=${session.loginMember.id})}" class="btn btn-info">취소</a>
							</div>
						</div>
					</form>
				</div>
			</div>
		</div>
		<div class="col-sm-3"></div>
	</div>
</div>


<div th:replace="~{/template/fragment/bottom :: bottom}"></div>
</body>
</html>
