<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<title>미니 프로젝트</title>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.0/umd/popper.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.0/js/bootstrap.min.js"></script>


	<script>
		function subject(){
			$("#keyword").attr("name","subject");
		}

		function writer(){
			$("#keyword").attr("name","writer");
		}
	</script>

</head>
<body>
<!--상단 메뉴-->
<nav th:replace="~{/template/fragment/menu :: menu}"></nav>



<!-- 게시글 리스트 -->
<div class="container" style="margin-top:100px">
	<div class="card">
		<div class="card-body">
			<h4 class="card-title font-italic">StudyBoard</h4>
			<!-- search{s} -->
			<form method="get" th:action="@{/board/condition}">
			<div class="form-group row justify-content-center">
				<div class="w100" style="padding-right:10px">
					<input type="radio" name="searchType" th:text="제목" th:onclick="|javascript:subject()|">
					<input type="radio" name="searchType" th:text="글쓴이" th:onclick="|javascript:writer()|">

				</div>
				<div class="w300" style="padding-right:10px">
					<input type="text" class="form-control form-control-sm" name="keyword" id="keyword">
				</div>
				<div>
					<button type="submit" class="btn btn-sm btn-primary" name="btnSearch" th:text="검색">검색</button>&nbsp;&nbsp;
				</div>
			</div>
			</form>
			<!-- search{e} -->

			<table class="table table-hover" id='board_list'>
				<thead>
					<tr>
						<th class="text-center d-none d-md-table-cell">글번호</th>
						<th class="w-50">제목</th>
						<th class="text-center d-none d-md-table-cell">작성자</th>
						<th class="text-center d-none d-md-table-cell">조회수</th>
						<th class="text-center d-none d-md-table-cell">작성날짜</th>
					</tr>
				</thead>
				<tbody>
					<div th:if="${allBoard.size()==0}">
						<h4 class="font-italic">등록된 게시글이 없습니다.</h4>
					</div>
					<div th:if="${allBoard.size()!=0 }" th:each="board : ${allBoard}">
					<tr>
						<td class="text-center d-none d-md-table-cell" th:text="${board.id}">게시글아이디</td>
						<td><a href='board_read.html' th:href="@{/board/read/{boardId}/{memberId}(boardId=${board.id} , memberId=${board.memberId})}" th:text="${board.subject}">제목</a></td>
						<td class="text-center d-none d-md-table-cell" th:text="${board.writer}">홍길동</td>
						<th class="text-center d-none d-md-table-cell" th:text="${board.readCount}">추천수</th>
						<th class="text-center d-none d-md-table-cell" th:text="${#temporals.format(board.createdDate, 'yy-MM-dd HH:mm')}">작성날짜</th>
					</tr>
					</div>
				</tbody>
			</table>


			<div class="d-none d-md-block">
				<ul class="pagination justify-content-center">
					<th:block th:if="${page.isExistPrevPage()}">
						<li class="page-item">
							<a th:href="@{/board(page=${page.startPage-11})}" class="page-link">이전</a>
						</li>
					</th:block>
					<th:block th:unless="${page.isExistPrevPage()}">
						<li class="page-item">
							<a th:disabled="true" class="page-link">이전</a>
						</li>
					</th:block>

					<th:block th:if="${allBoard.size() > 0}" th:each="pageNum:${#numbers.sequence(page.startPage,page.endPage)}">
						<li class="page-item">
							<a th:href="@{/board(page=${pageNum}-1)}" th:text="${pageNum}" class="page-link">1</a>
						</li>
					</th:block>
					<th:block th:if="${page.isExistNextPage()}">
						<li class="page-item">
							<a th:href="@{/board(page=${page.startPage+9})}" class="page-link">다음</a>
						</li>
					</th:block>
					<th:block th:unless="${page.isExistNextPage()}">
						<li class="page-item">
							<a th:disabled="true" class="page-link">다음</a>
						</li>
					</th:block>
				</ul>
			</div>


			<div class="text-right">
				<a href="board_write.html" th:href="@{/board/write}" class="btn btn-primary">글쓰기</a>
			</div>

		</div>
	</div>
</div>

<!--하단-->
<div th:replace="~{/template/fragment/bottom :: bottom}"></div>
</body>
</html>






