<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div class="container-fluid bg-dark text-white" style="margin-top:50px;padding-top:30px;padding-bottom:30px" th:fragment="bottom">
    <div class="container">
        <p>Blog : <a th:href="@{https://velog.io/@dhfl0710}">https://velog.io/@dhfl0710</a></p>
        <p>GitHub : <a th:href="@{https://github.com/LeeHanSuCode}">https://github.com/LeeHanSuCode</a></p>
    </div>
</div>
</body>
</html>